name: build

on:
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    env:
      APP_USERNAME: ${{ vars.APP_USERNAME }}
      EMAILUSERNAME: ${{ vars.EMAILUSERNAME }}
      EMAILPASSWORD: ${{ vars.EMAILPASSWORD }}
      PASSWORD: ${{ vars.PASSWORD }}
      URL: ${{ vars.URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn install -DskipTests

      - name: Run Tests
        run: mvn test

      - name: Print environment variables
        run: |
          echo "Username: $APP_USERNAME"
          echo "Email: $EMAILUSERNAME"
          echo "URL: $URL"
